.title {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0.8);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
}

.menutable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.menu {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0.8);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 100%;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.tableform {
    width: 40%;
    border-collapse: collapse;
    table-layout:fixed;
    font-family: 'Lato', sans-serif; 
    text-align: left;
}

.formhead {
    padding-top: 15px;
}


.form, .formhead {
	width: 140px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 0px;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.textzone {
    width: 660px;
    height: 120px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.others {
    font-family: 'Lato', sans-serif;
    font-weight: 400;  
    font-size: 14px; 
}

.js-textareacopybtn {
    font-family: 'Lato', sans-serif;
    font-weight: 400;  
    font-size: 11px;     
}
