<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/style.css" />
	<title>Zoning Brocade!</title>
</head>
<body>
<h1 class="title">Generate code for your zoning</h1>

<table>
	<form method="POST">
		{{form.hidden_tag()}}
		<tr> 
			<th class="firstcol">{{ form.host.label }} </th>
		</tr>
		<tr> 
			<td class="firstcol">{{ form.host }} </td>
			<td>{% for message in form.host.errors %}
    				{{ message }}
    			{% endfor %} </td>
		</tr>
		<tr> 
			<th class="firstcol">{{ form.vios.label }} </th>
		</tr>
		<tr> 
			<td class="firstcol">{{ form.vios }} </td>
		</tr>
		<tr> 
			<th class="firstcol">{{ form.wwn.label }} </th>
		</tr>
		<tr> 
			<td class="firstcol">{{ form.wwn(cols='16', rows='4') }} </td>
			<td>{% for message in form.wwn.errors %}
    				{{ message }}
    			{% endfor %}
		</tr>
		<tr>
			<td class="firstcol">{{ form.submit }} </td>
		</tr>
	</form>
</table>
</body>
</html>
